RewriteEngine On
# Options -Indexes

ErrorDocument 404 /404.php


DirectoryIndex index.php


# Redirect direct access to pages/login.php to /login
RewriteCond %{THE_REQUEST} \s/pages/login\.php[\s?] [NC]
RewriteRule ^pages/login\.php$ /login [R=301,L]


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php[?\s] [NC]
RewriteRule ^index\.php$ /home [R=301,L]

RewriteRule ^home?$ index.php [L]
RewriteRule ^about?$ about.php [L]
RewriteRule ^login?$ pages/login.php [L]
RewriteRule ^register?$ pages/register.php [L]
RewriteRule ^dashboard?$ pages/dashboard.php [L]
RewriteRule ^admin-dashboard?$  pages/admin.php [L]
RewriteRule ^request-another-email?$ pages/email.php [L]
RewriteRule ^forgot-password?$ pages/reset.php [L]
RewriteRule ^reset-password?$ pages/password.php [L]
RewriteRule ^verify-email?$ pages/verify.php [L]
RewriteRule ^contact-us?$ contact.php [L]
RewriteRule ^2fa-setup?$ pages/2fa-setup.php [L]
RewriteRule ^2fa-verify?$ pages/2fa-verify.php [L]
RewriteRule ^admin-login?$ pages/admin-login.php [L]
RewriteRule . 404.php [L]